
*  {
  margin:0;
  padding:0;  
}

html{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  src: local("Segoe UI Semilight");  
  height:100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;     
  background-color: #f3f5f8;  
  height:100%;
}

/* 
.footer {
	position:absolute;
	bottom:0;
	width:100%;
} 
*/

main {
  flex: 1 0 auto;      
  background-color: #f3f5f8;
}

.imgLogo{
  width:225px;
}

ul.menu li a:hover{    
  transition: 0.3s;  
  color:white;
}

ul.menu li a{
  color:white;  
}


.dropdown-content li > a, .dropdown-content li > span {
  color: black;
}

nav, nav .nav-wrapper i {
  line-height: 47px;  
  box-shadow: none;
  border-bottom: none;  
}



.menu{
  background-color: #244610;   
  padding: 25px; 
}

.menu li a:hover{
  transition: 0.5s;
  background-color: #2c5018;     
}

.menuAdm{
  background-color: #244610;   
  padding: 10px;
  height: 70px;
}

.nav-wrapper{  
  background-color: #f3f5f8;
}

.path{    
  border-bottom: 2px solid #244610;    
  
}
.path a{
  color:rgb(190, 226, 228); 
}

.principal{
  flex: 1 0 auto;   
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #b53033;
}

.input-field-post{  
  margin:0.5px;
}

.navSite{
  height:144px;  
}


.slider .indicators .indicator-item.active{
  background-color: #c0343f;
}

/* btn:link, .btn:visited, .btn:active, .btn:hover

 */
.slider-img {
  width: 100%;  
  background-image: center center no-repeat;
  display: block;
}


p{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img {
  width: 100%;
  height: auto;
}


 ul.pagination li {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f3f5f8;
}

ul.pagination li.active {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);

}

ul.pagination li a:hover {
  transition: 0.5s;
  /* background-color: rgb(238, 220, 188); */
  background-color: #c9c9c9;
}

ul.pagination li.disabled {      
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;  

}

.border-bottom{
  border-bottom: 1px solid white;
}


.container-btn{
  padding: 50px;
  margin: 10px;
  display: inline-block;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: rgb(36, 70, 16) !important;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}  

.btn{
  margin: 5px;    
}

.btn1:hover{
  transition: 0.5s;
  background-color: rgb(62, 102, 39) !important;
}

/* 

.btn:link, .btn:visited, .btn:active, .btn:hover {
  background-color: rgb(133, 133, 133);   
}

.btn1{      
  background-color: rgb(36, 70, 16);
  color:white;
}
.btn1:link, .btn1:active, .btn1:visited, .btn1:hover { 
  background-color: rgb(36, 70, 16);   
}

.btn2{  
  background-color: rgb(36, 70, 16);
  color:white;
}
.btn2:link, .btn2:visited, .btn2:active, .btn2:hover {
  background-color: rgb(36, 70, 16);  
}

.btn3{  
  background-color: rgb(36, 70, 16);
  color:white;
}
.btn3:link, .btn3:visited, .btn3:active, .btn3:hover {
  background-color: rgb(36, 70, 16);  
}

.btncar{  
  background-color: rgb(36, 70, 16);
  color:white;
}
.btncar:link, .btncar:visited, .btncar:active, .btncar:hover {
  background-color: rgb(62, 100, 41);  
}
 */

.page-footer {
  /* border-top: 5px solid #c0343f; */
  /* background-color: #D7B673;   */
  border-top: 5px solid #244610;
  background-color: #b53033;
}

.dark-text{
  color: #212121;
  font-size: large;
}

.pastel-text{
  color:rgb(204, 180, 138);
}

.red-text{
  color: #c0343f;
}

.card-action:hover{
  transition: 0.5s;
  background-color: #ece8de;
}
.card{  
  background-color: #fffefb;
}
.card img{
  color:black;
  border: #fffefb Solid 7px;
}


.admPost img{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.411);
}

.border-bottom-light{
  box-shadow: 0px 1px 0px 0px rgba(218, 218, 218, 0.411);
  padding:10px;
}

.border-bottom-dark{  
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.411);
}



ul.collection li.collection-item{
  background-color: rgb(240, 229, 210);
  
}


ul.collection li.collection-item{
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}


ul.footerLinks li a{
  padding:2px;    
  color: rgb(206, 206, 206);
}

.footerLinks li a:hover{
  transition: 0.3s;
  color:rgb(255, 255, 255);
}

/* ul.footerLinks li.grey-text a:hover{
  transition: 0.5s;
  color: rgb(238, 200, 123);     
} */

.white-text{
  padding:5px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

input[type=text]:not(.browser-default):focus:not([readonly]){  
  border-bottom: 1px solid #244610;
  box-shadow: 0 1px 0 0 #244610;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label{  
  color: #244610;
}

textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #244610;
  box-shadow: 0 1px 0 0 #244610;
}

textarea.materialize-textarea:focus:not([readonly]) + label{
  color: #244610;
}



.table{
  border-top: 1px solid black;
}

tbody tr td{
  background-color: #f3f5f8;      
  border-bottom: 1px solid black;
}


tbody tr td{
  background-color: #f3f5f8;      
}

/* .dataTable{
  border: 1px 1px 1px 1px solid black;
} */


.light-text{
  color: rgb(134, 134, 134);
}

.light-text2{
  color: rgb(223, 223, 223);
}

.detalhesCarro tr td{
  padding: 8px;      
}



.imgWhatsapp{
  width: 25px;
}

.imgWhatsapp2{
  width: 30px;
}

.plusFooter tr td{
  padding: 8px;
}

.imgFacebook{
  width: 30px;
}

.imgInstagram{
  width: 34px;
}

.tableFooter tr td{  
  background-color: #b53033;
  border-bottom: 1px solid #b53033;
}

.tableContato tr td{
  padding:5px;
  margin:1px;
  border-bottom: 1px solid #f3f5f8;
}

.tableContato{
  padding:5px;
  margin:1px;
  width: auto;
}

.textNovEstoque{
  padding:5px;
  margin:1px;
}


.alink{
  color:#244610;
}




.desc-post{
  font-size: small;
}